<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
</head>
<body>
<div th:if="${param.error}">
    Неверный логин или пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из системы.
</div>
<form th:action="@{/login}" method="post">
    <p><div><label> Username: <input type="text" name="username"/> </label></div></p>
    <p><div><label> Password: <input type="password" name="password"/> </label></div></p>
    <p><div><input type="submit" value="Вход"/></div></p>
</form>
</body>
</html>