<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Таблица студентов</title>
</head>
<body>
<h1 th:inline="text">Вы вошли как [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <p><input type="submit" value="Выход из системы"/></p>
</form>
<form th:action="@{/main}" method="post">
    <p> <input type="submit" value="Создать таблицу"/></p>
</form>
</body>
</html>