<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>Таблица студентов</title>
</head>
<body>
<!--th:if="${not #lists.isEmpty(student)}"-->
<div>
  <h2>Таблица студентов</h2>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>City</th>
      <th>Contact</th>
<!--      <th>EDU</th>-->
      <th>Course</th>
      <th>Faculty</th>
      <th>Speciality</th>
      <th>Birth</th>
      <th>Practice</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Patronymic</th>
      <th>Avr Score</th>
      <th>Number Practice</th>
      <th>Start</th>
      <th>End</th>
      <th>Status</th>
      <th>Group</th>
      <th>Review</th>
      <th>Sex</th>
      <th></th>
    </tr>
    <tr th:each="student : ${students}">
      <td th:text=${student.studentId}>studentId</td>
      <td th:text="${student.city}">city</td>
      <td th:text="${student.contactDetails}">contactDetails</td>
<!--      <td th:text="${student.educationalInstitution}">educationalInstitution</td>-->
      <td th:text="${student.course}">course</td>
      <td th:text="${student.faculty}">faculty</td>
      <td th:text="${student.speciality}">speciality</td>
      <td th:text="${student.dateOfBirth}">dateOfBirth</td>
      <td th:text="${student.directionPractice}">directionPractice</td>
      <td th:text="${student.name}">name</td>
      <td th:text="${student.surname}">surname</td>
      <td th:text="${student.patronymic}">patronymic</td>
      <td th:text="${student.averageScoreForPractice}">averageScoreForPractice</td>
      <td th:text="${student.numberPractices}">numberPractices</td>
      <td th:text="${student.startDatePractice}">startDatePractice</td>
      <td th:text="${student.endDatePractice}">endDatePractice</td>
      <td th:text="${student.practiceStatus}">practiceStatus</td>
      <td th:text="${student.groupId}">groupId</td>
      <td th:text="${student.review}">review</td>
      <td th:text="${student.sex}">sex</td>
      <td><a th:href="@{'/studentList/' + ${student.studentId}}">редактировать</a></td>
    </tr>
  </table>
</div>
</body>
</html>