<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>Редактирование пользователя</title>
</head>
<body>
<form th:action = "@{/userList}" method="post">
  <div>
    Имя пользователя
    <input type="text" name="username" th:value=${user.username}>
  </div>
  <p>
  <div>
    Пароль
    <input type="text" name="password" th:value=${user.password}>
  </div>
  </p>
  <p>
  <div th:each="role:${roles}">
    <input th:type="checkbox"
           th:name="${role}"
           th:value="${role}"
           th:checked="${#lists.contains(user.roles, role)}">
    <label th:text="${role}" ></label>
  </div>
  <input type="hidden" th:value=${user.id} name="userId">
  <p><button type="submit">Сохранить</button></p>
  </p>
</form>
</body>
</html>